.App {
  text-align: center;
  color: #333;
  border: 1px solid #aaa;
  background: white;
  margin: 2em;
  padding: 0 1em;
  min-height: 20em;
  min-width: 32em;
  box-shadow: 0 0 1em hsla(0, 0%, 0%, 0.15);
}


li>div:hover {
  margin: 0 auto;
  background-color: red;
  color: white;
}

App > .todoList> li:nth-child(odd){
  background: #eee;
}
.App > .todoList> li:nth-child(even){
  background: transparent;
}